#main-navbar{
	.navbar-nav{
		display: flex;
		justify-content: center;
		width: 100%;

		>li{
			padding: 0 $spacer;
		}
		.nav-link{
			color: #fff;
			font-size: 20px;
			font-weight: 300;
		}
	}
}

.shopping-cart-icon{
	padding: 0 $navbar-nav-link-padding-x;
	>a{
		margin-top: 3px;
		display: inline-block;
	}
}

#menu-footer-menu{
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	list-style: none;

	@include media-breakpoint-down(md){
		justify-content: center;
	}

	>li{
		padding: 0 10px 5px 10px;
		font-size: 1.1rem;
	}
}

@include media-breakpoint-down(md){
	#main-navbar{
		.navbar-nav{

			>li{
				padding: 0 1rem;
			}
			.nav-link{
				font-size: 17px;
			}
		}
	}
}