.product-slider{
	.slick-list{
		margin: 0 80px;
	}
}

.slick-arrow{
	width: auto;
	height: auto;
	transform: translateY(-80px);
	&:before{
		font-family: 'Font Awesome 5 Free';
		color: $primary;
		font-weight: bold;
		font-size: 70px;
	}
}

.slick-next{
	&:before{
		content: '\f105';
	}
}

.slick-prev{
	&:before{
		content: '\f104';
	}
}