// UL container
.widget-area{
	padding-top: map-get($spacers, 3) ;
	padding-bottom:  map-get($spacers, 3);
}

// Default widget
.widget{
	// @include myoutline(red);
	@include media-breakpoint-down(md){
		margin-bottom:  map-get($spacers, 3);
	}

	.widget-title{
	    text-transform: uppercase;
	    font-weight: 500;
	    margin-bottom: 0;
	    color: $gray-dark;
	    font-size:  1.2rem;
	}

	& > ul{
		@include list-unstyled;
		margin: 0;
		padding: 10px 0 20px 0;
	}
}

.widget_search{

	form.search-form{
		// @include myoutline(red);
		display: flex;
		justify-content: center;

		label{
			width: susy-percentage(80%);
			margin-bottom: 0;
		}

		.search-submit{
			width: susy-percentage(40%);
			@extend .btn;
			@extend .btn-primary;
		}

		.search-field{
			height: 40px;
		}
	}
}

