@include media-breakpoint-down (sm) {
	.woo-col-1, .woo-col-2{
		
		h3 {
			
			background-color: $primary;
			color : #FFF;
			padding: .5rem 1rem;
			margin-bottom: 2rem;
		
		}

		.woocommerce-billing-fields__field-wrapper, .woocommerce-additional-fields__field-wrapper {

			margin-bottom: 2rem;

			p.form-row {
			
				width:100%;	

				label {
					margin-right:1rem;
					width: 100%;
				}

				input {
					width: 100%;
				}

				span {
					width: 100%;
				}

			}
		}
	}

	.woocommerce h3#order_review_heading {
		background-color: $primary;
		color : #FFF;
		padding: .5rem 1rem;
		margin-bottom: 2rem;
	}

	.woocommerce-checkout-payment .button {

		background-color: $secondary !important;

	}
}

@include media-breakpoint-up (md) {

	.woo-col-1, .woo-col-2{
		
		h3 {
			
			background-color: $primary;
			color : #FFF;
			padding: .5rem 1rem;
			margin-bottom: 2rem;
		
		}
	}

	.woocommerce-billing-fields__field-wrapper, {
		>p {
			display: flex;
			width: 100% !important;

			label {
				width: 30% !important;
			
			}

			.woocommerce-input-wrapper {
				width: 65%; 
			}
		}

		.input-text#billing_address_2 {
			margin-left: 46% !important;
		}
	}

	.woocommerce-additional-fields__field-wrapper {

		margin-bottom: 2rem;

		p.form-row {
			
			width:100%;	
			
			>label {
				margin-right:1rem;
				width: 100%;
				}

			>input {
				width: 100%;
			}

			>span {
				width: 100%;
			}
		}
	}

	.woocommerce h3#order_review_heading {
		background-color: $primary;
		color : #FFF;
		padding: .5rem 1rem;
		margin-bottom: 2rem;
	}

	.woocommerce-checkout-payment .button {

		background-color: $secondary !important;

	}
}

.stripe-card-group{
	width: 100%;
}
.wc-stripe-elements-field{
	width:100%;
}

.screen-reader-text{
	display: none !important;
}