.woocommerce-cart-form th {
	background-color: $primary;
	color: #fff;
}

.woocommerce .product-thumbnail img {
	object-fit: cover;
}

th.product-remove, td.product-remove {
	display:none !important;
}


td.product-thumbnail {
	display: block !important;
	text-align: center !important;

	img {
		width:100% !important;
	}

}

td.product-thumbnail::before {
	display:none;
}


button[type=submit] {
	background-color: $primary !important;
	color: white !important;
	font-weight: normal !important;
}

.checkout-button {
	background-color: $secondary !important;
	padding: 15px 25px !important;
	display: inline-block !important;

}

@include media-breakpoint-up (md) { 

	.woocommerce table.shop_table {
		border: 0 !important;
	}

	.woocommerce table tr {

		td {
			background-color: #fff !important;
		}
	}
	
	.woocommerce .product-thumbnail {
		border-top: 0 !important;
	}
	.woocommerce .product-thumbnail img {
		width: 250px !important;
		height: 250px !important;
		margin-right:100%;
	}

}

@include media-breakpoint-up (lg) { 
	.woocommerce-cart-form {
	float: left;
	width: 70% ;
	}

	.woocommerce .product-thumbnail img {
	width: 150px !important;
	height: 150px !important;
	}

	.cart_totals {
	float:right;
	width:25% !important;
	}

	td.actions {

		.input-text {
			width: 150px !important;
		}

		.button {
			margin-left:10px !important;
		}
	}
}

.woocommerce-cart-form__cart-item.cart_item{
	td{
		padding-top: 15px !important;
		padding-bottom: 15px !important;
	}
	.product-name{
		>a{
			font-weight: bold;
		}
		.variation{
			dt{
				float: none !important;
				@extend .mt-1;
				text-transform: uppercase;
				color: $secondary;
				font-size: .8rem;
			}
			dt, dd{
				font-size: .9rem;
				font-weight: normal;
			}
		}
	}
}

