.recent-products{
	.container{
		max-width: 800px;
		.products{
			li{
				padding: 15px 40px !important;
			}
		}
	}
}

.woocommerce{

	a.button{
		font-weight: 300;
		font-size: 1rem;
	}

	.products{
		display: flex;
		flex-wrap: wrap;
		li{
			float: none !important;
			text-align: center;
			margin-bottom: 0 !important;

			.woocommerce-loop-product__title{
				font-size: 1.1rem !important;
				color: initial !important;
			}
			.woocommerce-Price-amount{
				font-size: 1rem !important;
				color: $primary !important;
			}
			.lg-woo-product-thumbnail{
				position: relative;
				@extend .mb-3;

				.product_button{
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					opacity: 0;
					transition: opacity .2s ease-out 0s;

					&.hover{
						opacity: 1;
					}

					a{
						@extend .btn-primary;
						margin-top: 0;
						border-radius: 0;
						width: 140px;
						height: 40px;
						display: flex;
						justify-content: center;
						align-items: center;
						margin-bottom: 15px;
						font-size: 13px;
						&:last-child{
							margin-bottom: 0;
						}
					}

					.fa-shopping-cart{
						margin-right: 7px;
					}
					span{
						margin-top: 4px;
					}
				}
			}

			.woocommerce-loop-product__title{
				text-transform: uppercase;
			}

			.star-rating{
				margin: 0 auto .5em auto;
				width: 115px;
				letter-spacing: 4px;
				font-size: 18px;
			}
		}
	}

	.star-rating{
		color: $star;
		&:before{
			color: inherit;
		}
	}

	&.archive{
		#main{
			@extend .container;
			@extend .py-4;
		}
	}

	&.woocommerce-page:not(.single-product){
		.products{
			margin-left: -15px;
			margin-right: -15px;
			>li{
				padding: 15px !important;
				box-sizing: border-box;
				margin: 0 !important;

				@include media-breakpoint-down(sm){
					width: 100% !important;
				}

				@include media-breakpoint-up(sm){
					width: 50% !important;
				}

				@include media-breakpoint-up(lg){
					width: 33.33% !important;
				}
			}
		}

		.product-archive-wrap{
			display: flex;
			justify-content: space-between;

			.star-rating{
				margin: 0 auto 5px auto !important;
				font-size: 16px !important;
				width: 118px;
			}

			.category-selector{
				width: 250px;
				display: none;

				@include media-breakpoint-up(md){
					display: block;
				}
			}
			.loop-content{
				width: 100%;
				@include media-breakpoint-up(md){
					width: calc( 100% - 300px );
				}
			}
			.product-cat-list{
				>li{
					padding-bottom: 8px;

					&:last-child{
						padding-bottom: 0;
					}

					ul.children{
						list-style: none;
						padding: 10px 0 10px 10px;

						a{
							color: $gray-600;
							font-size: .9rem;
						}
					}

					>a{
						@extend .font-weight-bold;
						color: $gray-dark;
						font-size: .9rem
					}
				}
			}
		}
	}
}

.woocommerce div.product .woocommerce-product-rating{
	margin-bottom: 1rem !important;
}


//Single Product

.single-product{

	.woocommerce-breadcrumb{
		display: none;
	}

	button[name=add-to-cart]{
		@extend .mt-3;
	}
	.quantity{
		@extend .text-uppercase;
	}
	.price{
		@extend .my-2;
	}

	.star-rating{
		margin: .2em 4px 0 0 !important;
		width: 160px;
		letter-spacing: 8px;
		font-size: 24px;
	}

	#single-product-details{
		#customer-review{
			h2{
				@extend .h3;
			}
			h3{
				margin-bottom: 15px !important;
			}
			input[type=submit]{
				@extend .btn-primary;
				font-size: 1rem !important;
				font-weight: normal !important;
			}
			#commentform{

			}

			.stars{
				a{
					width: 1.5rem !important;
					height: 1.5rem !important;
					color: $star;
					&:before{
						width: 1.2rem !important;
						height: 1.2rem !important;
						font-size: 1.2rem !important;
					}
				}
			}
		}
	}

	.single-product-top{
		display: flex;
		flex-wrap: wrap;
		.woocommerce-product-gallery{
			@extend .mb-2;
			@extend .mb-md-0;
			@extend .pr-0;
			@extend .pr-md-5;

			.flex-control-thumbs{
				padding-top: 15px !important;
				margin-left: -7.5px !important;
				margin-right: -7.5px !important;
				li{
					width: 33.33% !important;
					padding: 7.5px;
				}
			}
		}

		.woocommerce-product-gallery__trigger{
			display: none;
		}
		.product_title{
			text-transform: uppercase;
			color: black;
			margin-bottom: 5px;
		}
		.amount{
			font-size: 2rem;
			color: $primary;
			@extend .mb-2;
		}
	}

	.single_add_to_cart_button{
		background-color: $primary !important;
		color: #fff !important;
		padding: 12px 15px 10px 15px !important;
		text-transform: uppercase;
	}

	.products{
		&.related{
			@extend .container;
			@extend .py-4;
			@extend .d-block;
			>h2{
				@extend .text-center;
				@extend .heading-decorator;
			}
			>.products{
				@extend .pt-3;
				margin-left: -15px;
				margin-right: -15px;
				>li{
					margin: 0 !important;
					padding: 5px 15px;
					width: 100% !important;

					@include media-breakpoint-up(sm){
						width: 50% !important;
					}

					@include media-breakpoint-up(md){
						width: 33.33% !important;
					}

					@include media-breakpoint-up(lg){
						width: 25% !important;
					}
				}
			}
		}
	}
}