// Site Content
.site-content{
	// width: susy-span(12);

	.body-copy{
		// @extend .container;
		// padding: 0 gutter(); 
	}
}


// Blog and default archive pages
.blog{

	.site-content{
		// @include myoutline(blue);
		@extend .container;
		display         : flex;
		justify-content : space-between;
		align-items     : flex-start;
		flex-wrap       : wrap;
		padding         : 0 gutter()  gutter() gutter();
		@include media-breakpoint-up(sm){ padding: 0 0 gutter() 0; }

		.body-copy{
			// @include myoutline(red);
			width: span(12); 
			@include media-breakpoint-up(sm){ width: span(12); }
			@include media-breakpoint-up(md){ width: span(8); }
			@include media-breakpoint-up(lg){ width: span(9); }
		}

		.widget-area{
			// @include myoutline(red); 
			width: span(12);
			@include media-breakpoint-up(sm){ width: span(12); }
			@include media-breakpoint-up(md){ width: span(4); }
			@include media-breakpoint-up(lg){ width: span(3); }
		}

	} 

	.blog-banner{
		width: 100%;
		height: 300px;
		@extend .mb-4;
		
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}
	}

}

p:last-child{
	margin-bottom: 0;
}