// Site Footer 
.site-footer{


	// Main Content Area
	#site-footer{
		>div{
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;

			@include media-breakpoint-up(md){
				flex-direction: row;
			}

			#menu-footer-menu{
				justify-content: flex-start;
				>li{
					text-align: center;
					width: 100%;
					margin-top: 25px;

					@include media-breakpoint-up(md){
						text-align: left;
					}

					>a{
						color: $secondary;
						font-weight: 600;
					}

					.sub-menu{
						list-style: none;
						padding-left: 0;
						margin-top: 10px;
						li{
							a{
								color: #fff;
								font-size: .9rem;
								word-break: break-word;
							}
						}
					}

					@include media-breakpoint-up(sm){
						width: 50%;
					}

					@include media-breakpoint-up(lg){
						width: 33.33%;
					}
				}
			}

			.logo{
				width: 100%;
				max-width: 300px;

				img{
					@extend .img-full;
				}
			}

			.footer-nav{
				@extend .pl-0;
				@extend .pl-md-5;

				@include media-breakpoint-up(md){
					width: 50%;
				}
			}
		}

		.footer-title{
			display: inline-block;
			font-size: 1.1rem;
			margin-bottom: 8px;
		}
		.footer-phone{
			font-size: 1.2rem;
		}
	}


	// The tiny site legal footer area.
	#site-legal{
		background-color: $site-legal-bg-color;
		>div{
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			color: $site-legal-text-color;
			@include font-size($fs-map: $site-legal-font-size, $fs-breakpoints: $grid-breakpoints);

			a{ color: $site-legal-link-color; }

			.site-info{
				width: susy-span(12);
				text-align: center;
				margin-bottom: 5px;

				@include media-breakpoint-up(sm){
					width: susy-span(6);
					text-align: left;
					margin: 0;
				}
			}

			.site-longevity{
				width: susy-span(12);
				text-align: center;


				@include media-breakpoint-up(sm){
					width: susy-span(6);
					text-align: right;
				}
			}
		}
	}

}