$utility-bar-background-color: $blue-dark;

.site-header{
	box-shadow: $header-box-shadow;
	z-index: 999;

	.navbar-header{
		display: none;
	}

	.fa-bars{
		font-size: 25px;
    	color: #fff;
    	display: block;
	}

	&.sticky-header{
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		background-color: $sticky-header-bg-color;
		display: none;

		.mobile-toggle{
			font-size: 25px;
			cursor: pointer;
		}
	}

	.header-content{
		.utility-bar{

			@include font-size($fs-map: $utility-bar-font-size, $fs-breakpoints: $grid-breakpoints);
			background-color: $utility-bar-background-color;
			padding: $utility-bar-padding;

			>div{
				display: flex;
    			justify-content: space-between;

    			.left{
    				display:flex;
    				align-items:center;

					.header-address{

    					color: #fff;

    					.fa-map-marker{

    						color: theme-color('secondary');
    						font-size:15px;

    					}
					}
    			}
    			.right{
					display:flex;
					align-items:center;

					>div{
						padding-left:15px;

						span{
							color:#fff;
						}

						i{
							color: theme-color('secondary');
							font-size:15px;
						}
					}
    			}
			}
		}

		.header-main{
			border-top: 1px solid #6e6eb7;
			
			>div{
				.site-branding{
					.logo{
						width: $header-logo-width;

						@include media-breakpoint-up(sm){
							width: $header-logo-width-sm;
						}

						@include media-breakpoint-up(md){
							width: $header-logo-width-md;
						}

						img{
							width:100%;
							display:block;
						}
					}
				}
			}
		}

		.site-utility{
			display: flex;
			align-items: flex-start;
			.navbar{
				margin-top: 1px;
			}
			.nav-link{
				padding-top: 0;
				padding-bottom: 0;
				font-size: 1.1rem;
			}
		}
	}
}

@include media-breakpoint-up(md){
	.mobile-toggle{
		display: none;
	}
}